/* MARGIN */

.m-none {
    margin: 0;
}

.m-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto;
}

.my-1 {
    margin: 1rem 0;
}

.mx-1 {
    margin: 0 1rem;
}

.m-1 {
    margin: 1;
}

.my-2 {
    margin: 2rem 0;
}

.mx-2 {
    margin: 0 2rem;
}

.m-2 {
    margin: 2rem;
}

.my-3 {
    margin: 3rem 0;
}

.mx-3 {
    margin: 0 3rem;
}

.m-3 {
    margin: 3rem;
} 


/* PADDING */
.p-none {
    padding: 0;
}

.py-1 {
    padding: 1rem 0;
}

.px-1 {
    padding: 0 1rem;
}

.p-1 {
    padding: 1rem;
} 

.py-2 {
    padding: 2rem 0;
}

.px-2 {
    padding: 0 2rem;
}

.p-2 {
    padding: 2rem;
} 

.py-3 {
    padding: 3rem 0;
}

.px-3 {
    padding: 0 3rem;
}

.p-3 {
    padding: 3rem;
}