<footer class="p-1">
    <div class="container m-auto">
        <ul class="m-none p-none footer-links">
            <li>A Link</li>
            <li>A Link</li>
            <li>A Link</li>
        </ul>
    </div>
</footer>