<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Test</title>
    <!-- Embed the Adyen Web script element above any other JavaScript in your checkout page. -->
    <script defer src="https://kit.fontawesome.com/d23270b885.js" crossorigin="anonymous"></script>
    <script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.0.0/adyen.js"
        integrity="sha384-kcKKvS6qZbXycrUw31OJ2/2Hz8A8FTsV9anjvpyQc/IWR1SmkFUw7w7F/t5S3qtA"
        crossorigin="anonymous"></script>

    <!-- Embed the Adyen Web stylesheet. You can add your own styling by overriding the rules in the CSS file -->
    <link rel="stylesheet" href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.0.0/adyen.css"
        integrity="sha384-0IvbHDeulbhdg1tMDeFeGlmjiYoVT6YsbfAMKFU2lFd6YKUVk0Hgivcmva3j6mkK" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.min.css">
</head>