<header class="p-1">
    <nav class="m-auto d-flex">

        <a class="brand" href="">DeBoo Inc</a>
        <button type="button" class="collapsible btn"><i class="fas fa-bars fa-2x"></i></button>
        <ul class="m-none p-none collapsible-content ml-auto">
            <li>Link 1</li>
            <li>Link 2</li>
            <li>Link 3</li>
        </ul>
    </nav>
</header>