<!DOCTYPE html>
<html lang="en">
<%- include("partials/_head") %>

    <body>
        <%- include("partials/_header") %>
            <main id="payment-page" class="p-1">
                <div class="container m-auto main-grid">
                    <%- content %>
                </div>
            </main>
            <%- include("partials/_footer") %>
                <script src="/js/bundle.js"></script>
    </body>

</html>