<%- extend('base') %>
    <div id="clientKey" class="d-none">
        <%=clientKey%>
    </div>
    <section class="title">
        <h2>Checkout</h2>
    </section>
    <section id="dropin-container" class="main-section"></section>
    <section class="side-section"></section>